.uni-form-component {
  width: calc(100% - 64rpx);
  .component-label {
    margin-bottom: 10rpx;
    .field-desc {
      font-size: 26rpx;
      .required {
        color: #fb2c36;
        font-size: 28rpx;
        margin-right: 6rpx;
        vertical-align: middle;
        font-weight: bold;
      }
    }
  }
  .field-sub-desc {
    color: #4e5969;
    font-size: 22rpx;
    margin-top: 10rpx;
    margin-left: 16rpx;
  }
  .component-value {
    display: flex;
    align-items: center;
    position: relative;
    .component-style {
      display: flex;
      align-items: center;
      width: 100%;
      border: 1px solid rgba(229, 230, 235, 0.6);
      background-color: rgba(249, 250, 251, 1);
      border-radius: 8px;
      padding-left: 20rpx;
      padding-top: 10rpx;
      padding-bottom: 12rpx;
      padding-right: 50rpx;
      font-size: 28rpx;
      box-sizing: border-box;
      color: rgba(16, 20, 28, 1);
      .action-result {
        &.fill {
          color: #10141C;
        }
        &.empty {
          color: #86909C;
        }
      }
    }
    .component-style.disable {
      color: #86909C;
    }
    .suffix-icon {
      width: 20rpx;
      height: 20rpx;
      position: absolute;
      right: 32rpx;
      top: 50%;
      transform: translateY(-50%);
    }
    .suffix-text {
      color:#4E5969;
      font-size: 27rpx;
      position: absolute;
      right: 32rpx;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.readable {
    .component-label {
      .field-desc {
        .field-label {
          color: #727c88;
        }
      }
    }
    .component-value {
      .render-text {
        color: #10141c;
        font-size: 28rpx;
      }
      .suffix-text {
        color:#4E5969;
        font-size: 27rpx;
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        margin-left: 10rpx;
      }
    }
  }
  &.editable {
    margin-left: 32rpx;
    .component-label {
      .field-desc {
        .field-label {
          color: #10141c;
        }
      }
    }
  }
}
